# ignore .vscode directory
*.vscode

#ignore all json file
*.json

#ignore img,music file
*.mp3
*.mp4
*.png
*.jpg

#ignore fonts
*.eot
*.ttf
*.woff
*.gif

firebase.js
database.rules.json
firebase.json
.firebase
.firebaserc
jquery-3.6.0.min.js
node_modules/
firestore.rules